/**/__pycache__

/crawler/download/IOT_data/*
!/crawler/download/IOT_data/.gitkeep

/crawler/download/Meteoblue_data/*
!/crawler/download/Meteoblue_data/.gitkeep

/mongo/mydata/*
!/mongo/mydata/.gitkeep